.wrapper
.main
  .main__header
    -# = link_to "#{category.name}", post_path(category1)
    .main__header__logo
      = icon('fas', 'cocktail')
    .main__header__title--1
      EMOTIONS FOODS
    .main__header__title--2
      "きぶん"で選ぶ今夜のおつまみ
  .main__contents
    .main__contents__contents1
      %h2 "喜" JOY
      %p 憧れのあの人に褒められた日 
    .main__contents__contents2
      %p 泣き叫びたい夜も
      %p ある
      %h2 "怒" ANGER
    .main__contents__contents3
      %h2 "哀" SADNESS
      %p 今日はとことんセンチメンタルに
  .main__happy
    %h1 "楽" HAPPY
    %p だいすきなあの人とは
    %p 特別なあのおつまみを
  .main__categorylist
    .main__categorylist__box
      - @categories.each do |category|
        = link_to "#{category.name}", category_path(category)
  .main__newpost
    .main__newpost__box
      = link_to "Try posting!!", new_post_path
  
  

