.wrapper
.main
  .main__header
    .main__header__logo
      = icon('fas', 'cocktail')
    .main__header__title--1
      EMOTIONS FOODS
    .main__header__title--2
      "きぶん"で選ぶ今夜のおつまみ
  .main__contents
    .main__contents__emotion
      .main__contents__emotion__joy 
        = link_to image_tag("emotion_joy2"),category_path(1)      
      .main__contents__emotion__anger 
        = link_to image_tag("emotion_anger2"),category_path(2)
      .main__contents__emotion__sadness
        = link_to image_tag("emotion_sadness2"),category_path(3) 
      .main__contents__emotion__happy
        = link_to image_tag("emotion_happy2"), category_path(4) 
  .main__categorylist
    .main__categorylist__box
      - @categories.each do |category|
        = link_to "#{category.name}", category_path(category)
  .main__newpost
    .main__newpost__box
      = link_to "Try posting!!", new_post_path
